{% extends 'profiles/navbar.html'%}
{% block content %}
<style>
	.profile-pic{
		max-width: 200px;
		max-height:200px;
		margin: 0 auto;
		border-radius: 50%;
	}
	</style>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Date</th>
					<th>Paid</th>
					<th>Outstanding</th>
					<th>Total</th>
				</tr>

				{% for a in invoice %}

				<tr>
					<td>{{a.date}}</td>
					<td>{{a.paid}}</td>
					<td>{{a.outstanding}}</td>
					<td>{{a.Total}}</td>
					
					
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}